.idea
.java-version
*.iml
/tmp/
/out/
/in/
/devenv.local
/local-mounts/
/target/
/build/
.DS_Store
# simlinks to dev scripts in https://github.com/neo-technology/teamcity-witchcraft
download_tool.py
docker_tests_get_installers.py
__pycache__/
